<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cooking Show</title>
    <link rel="stylesheet" type="text/css" href="assets/css/game.css">
</head>
<body>
    <div class="game" id="game">
        <div class="header">
            <h1>Frying Pan Showdown!</h1>
            <p>You're about to get fried, how long can you last?</p>
        </div>
        <div class="menu" v-if="interface === 'menu'">
            <ul>
                <li><button v-on:click="startGame">Start game</button></li>
                <li><button>Settings</button></li>
                <li><button>What is going on?</button></li>
                <li><button>Credits</button></li>
            </ul>
        </div>
        <div class="stats" v-if="interface === 'frying-pan'">
            <div class="health-bar">
                <div class="health" v-bind:style="{ width: player.getHealthPercentage() + '%' }"></div>
            </div>
            <div class="timer">
                {{ displayTimer() }}
            </div>
        </div>
        <div class="frying-pan" v-if="interface === 'frying-pan'">
            <div v-for="tile in grid.tiles" class="tile" v-bind:class="{ on: tile.hot }" :data-position-x="tile.x" :data-position-y="tile.y">
                <div class="player" v-bind:class="{ dead: player.dead }" v-if="tile.player"></div>
            </div>
        </div>
        <div class="info">
            <span>You have no idea how to code Vue? <a href="https://vuejs.org/v2/guide/" target="_blank" rel="noopener">https://vuejs.org/v2/guide/</a></span>
            <span>You forgot how CSS Grids work? <a href="https://css-tricks.com/snippets/css/complete-guide-grid/" target="_blank" rel="noopener">https://css-tricks.com/snippets/css/complete-guide-grid/</a></span>
        </div>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Vue component -->
    <script type="text/javascript" src="assets/js/Tile.js"></script>
    <script type="text/javascript" src="assets/js/Grid.js"></script>
    <script type="text/javascript" src="assets/js/Player.js"></script>
    <script type="text/javascript" src="assets/js/game.js"></script>
</body>
</html>
