<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cooking Show</title>
    <link rel="stylesheet" type="text/css" href="assets/css/game.css">
</head>
<body>
    <div class="pan" id="game">
        <div class="menu" v-if="interface === 'menu'">
            <h1 class="header">Frying Pan Showdown!</h1>
            <p class="sub-header">You're about to get fried, how long can you last?</p>
            <ul>
                <li><button v-on:click="startGame">Start game</button></li>
                <li><button>Settings</button></li>
                <li><button>What is going on?</button></li>
                <li><button>Credits</button></li>
            </ul>
        </div>
        <div class="health-bar" v-if="interface === 'game'">
            <span class="health-title">HP</span>
            <div class="health" v-bind:style="{ width: player.getHealthPercentage() + '%' }"></div>
        </div>
        <div class="timer" v-if="interface === 'game'">
            <span class="timer-title">Timer</span>
            {{ displayTimer() }}
        </div>
        <div class="grid" v-if="interface === 'game'">
            <div v-for="tile in grid.tiles" class="tile" v-bind:class="{ on: tile.hot }" :data-position-x="tile.x" :data-position-y="tile.y">
                <div class="flames" v-if="tile.flames"></div>
                <div class="player" v-bind:class="{ dead: player.dead }" v-if="tile.player"></div>
            </div>
        </div>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Vue component -->
    <script type="text/javascript" src="assets/js/Tile.js"></script>
    <script type="text/javascript" src="assets/js/Grid.js?v=2"></script>
    <script type="text/javascript" src="assets/js/Player.js"></script>
    <script type="text/javascript" src="assets/js/game.js"></script>
</body>
</html>
