.player {
  width: 40px;
  height: 60px;
  background-image: url(../sheets/player.png);
  animation: idlePotato 0.8s steps(8) infinite; }

@keyframes idlePotato {
  from {
    background-position-x: -560px; }
  to {
    background-position-x: -880px; } }

.game {
  width: 1024px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-row-gap: 25px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  justify-items: center; }

.header {
  text-align: center; }

.stats {
  width: 383px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-column-gap: 20px; }

.health-bar {
  background-color: red;
  height: 20px;
  border: 1px black solid; }

.health {
  height: 20px;
  background-color: green; }

.timer {
  justify-self: center;
  align-self: center; }

.menu {
  width: 100%;
  background-color: red;
  margin: 0 auto;
  text-align: center; }
  .menu ul {
    list-style-type: none; }
  .menu li {
    margin-bottom: 20px; }
  .menu button {
    width: 200px;
    padding: 10px 20px; }

.frying-pan {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-template-rows: repeat(5, min-content);
  grid-gap: 2px;
  justify-content: center; }
  .frying-pan .tile {
    display: flex;
    background-color: #9b9b9b;
    width: 75px;
    height: 75px;
    align-items: center;
    justify-content: center; }
    .frying-pan .tile.on {
      background-color: #ca5f52; }

.info {
  text-align: center; }
  .info span {
    display: block; }
