.pan {
  background-image: url(../images/pan.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 850px;
  height: 850px;
  position: relative;
  border: 1px black solid;
  margin: 0 auto; }
  .pan .grid {
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-template-rows: repeat(5, min-content);
    grid-gap: 2px;
    transform: translate(-50%, -50%); }
  .pan .tile {
    display: flex;
    width: 75px;
    height: 75px;
    border: 1px #5a5a5a dashed;
    align-items: center;
    justify-content: center; }
    .pan .tile.on {
      background-color: rgba(255, 0, 0, 0.25); }

.player {
  width: 40px;
  height: 60px;
  background-image: url(../sheets/player.png);
  animation: potatoIdle 0.8s steps(8) infinite; }
  .player.dead {
    animation: potatoDeath 1.3s steps(13) forwards; }

@keyframes potatoIdle {
  from {
    background-position-x: -560px; }
  to {
    background-position-x: -880px; } }

@keyframes potatoDeath {
  from {
    background-position-x: 0; }
  to {
    background-position-x: -520px; } }

.flames {
  width: 50px;
  height: 50px;
  background-image: url(../sheets/flames.png);
  animation: flamesEntrance 0.8s steps(8), flamesIdle 0.7s steps(7) 0.8s infinite; }

@keyframes flamesEntrance {
  from {
    background-position-x: -800px; }
  to {
    background-position-x: -1200px; } }

@keyframes flamesIdle {
  from {
    background-position-x: -400px; }
  to {
    background-position-x: -750px; } }

.game-over {
  position: absolute;
  background-color: white;
  border: 1px black solid;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box; }
  .game-over span {
    display: block; }

.game-over-button {
  margin-top: 20px; }

* {
  font-family: Arial, sans-serif; }

.stats {
  width: 383px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-column-gap: 20px; }

.health-bar {
  width: 200px;
  position: absolute;
  top: 50px;
  left: 25px;
  background-color: red;
  height: 20px;
  border: 1px black solid; }
  .health-bar .health-title {
    position: absolute;
    top: -25px;
    left: 0;
    font-weight: 600; }
  .health-bar .health {
    height: 20px;
    background-color: green; }

.timer {
  position: absolute;
  top: 50px;
  right: 50px; }

.timer-title {
  position: absolute;
  top: -25px;
  right: 0;
  font-weight: 600; }

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  transform: translate(-50%, -50%); }
  .menu .header {
    color: white;
    font-family: pixelar, sans-serif; }
  .menu .sub-header {
    color: white;
    font-family: pixelar, sans-serif; }
  .menu ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-top: 40px; }
  .menu li {
    margin-bottom: 20px; }
  .menu button {
    width: 200px;
    padding: 10px 20px; }

.info {
  text-align: center; }
  .info span {
    display: block; }
