.game-over {
  position: absolute;
  background-color: white;
  border: 1px black solid;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;

  & span {
    display: block;
  }
}

.game-over-button {
  margin-top: 20px;
}