.pan {
  background-image: url(../images/pan.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 850px;
  height: 850px;
  position: relative;
  border: 1px black solid;
  margin: 0 auto;

  .health-bar {
    width: 200px;
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: red;
    height: 20px;
    border: 1px black solid;

    .health {
      height: 20px;
      background-color: green;
    }
  }

  .grid {
    position: absolute;
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-template-rows: repeat(5, min-content);
    grid-gap: 2px;
    transform: translate(-50%, -50%);
  }

  .tile {
    display: flex;
    width: 75px;
    height: 75px;
    border: 1px #5a5a5a dashed;

    align-items: center;
    justify-content: center;

    &.on {
      background-color: rgba(255, 0, 0, 0.25);
    }
  }
}