.player {
  width: 40px;
  height: 60px;
  background-image: url(../sheets/player.png);
  animation: idlePotato .8s steps(8) infinite;
}

@keyframes idlePotato{
  from{background-position-x: -560px;}
  to{background-position-x: -880px;}
}

