.game {
  width: 1024px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  justify-items: center;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
}

.field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 200px 225px;
  background-color: grey;
  width: 100%;
}

.stat {
  align-self: center;
  justify-self: center;
}
