@import 'pan';
@import 'player';
@import 'flames';

* {
  font-family: Arial, sans-serif;
}

.stats {
  width: 383px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-column-gap: 20px;
}

.health-bar {
  width: 200px;
  position: absolute;
  top: 50px;
  left: 25px;
  background-color: red;
  height: 20px;
  border: 1px black solid;

  .health-title {
    position: absolute;
    top: -25px;
    left: 0;
    font-weight: 600;
  }

  .health {
    height: 20px;
    background-color: green;
  }
}

.timer {
  position: absolute;
  top: 50px;
  right: 50px;
}

.timer-title {
  position: absolute;
  top: -25px;
  right: 0;
  font-weight: 600;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  transform: translate(-50%, -50%);

  .header {
    color: white;
    font-family: pixelar, sans-serif;
  }

  .sub-header {
    color: white;
    font-family: pixelar, sans-serif;
  }

  & ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-top: 40px;
  }

  & li {
    margin-bottom: 20px;
  }

  & button {
    width: 200px;
    padding: 10px 20px;
  }
}

.info {
  text-align: center;

  & span {
    display: block;
  }
}